@{
    ViewData["Title"] = "Isso é um teste";
}
<h1>@ViewData["Title"]</h1>


<h1>
    <marquee behaviour = 'alternate'>
        Seja bem vubdi(a) Seu Nome

    </marquee>
</h1>

<p>To te testando.</p>
